/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Styles */

/* Header */

html {
    font-size: 12px;
}

.title-1 {
    font-size: 2rem;
    font-family: 'Shantell Sans', cursive;
    font-weight: bolder;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

#toggle{
    display:none;
}

.label{
    display:none;
}

.button-1 {
    width: 7rem;
    height: 3rem;
    border: none;
    background: rgb(249, 35, 77);
    color: white;
    border-radius: 0.2rem;
}

.nav {
    display: flex;
    align-items: center;
    color: white;
}

ul {
    display: flex;
}

.li-header {
    margin-right: 2rem;
    height: 8rem;
    font-size: 1.5rem;
    color: white;
    line-height: 8rem;
    font-family: 'Shantell Sans', cursive;

}

/* Container */

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}


/*section1*/

.image-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 50rem;
    background: linear-gradient(rgba(43, 69, 172, 0.6), rgba(36, 84, 187, 0.6)), url("assets/concert-2527495_960_720.jpg") center center no-repeat;
    background-size: cover;
}

/* Section 1 */

.title {
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    color: white;
    line-height: 2rem;
    padding-bottom: 4rem;
}

.paragraph {
    font-size: 1.5rem;
    color: white;
    line-height: 2rem;
    padding-bottom: 4rem;
}

.button-2 {
    width: 10rem;
    height: 4rem;
    background: rgb(249, 35, 77);
    border: none;
    border-radius: 0.25rem;
    color: white;
}

.section1 {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.col-1 {
    padding-top: 6rem;
    flex: 0 1 48%;
    align-self: center;
}


.col-2 {
    padding: 1rem 0rem;
    flex: 0 1 48%;
    display: flex;
    justify-content: flex-end;
}

/* Section 2 */

.title2 {
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    color: black;
    line-height: 2rem;
    padding-bottom: 4rem;
}

.paragraph2 {
    font-size: 1.5rem;
    color: rgb(177, 176, 180);
    line-height: 2rem;
    padding-bottom: 4rem;
}

.section2 {
    margin-top: 15rem;

}

.col-3 {
    flex: 0 1 48%;
}

.col-4 {
    flex: 0 1 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-2 {
    width: 100%;
}

.singer-image {
    border-bottom-right-radius: 4rem;
    border-top-left-radius: 4rem;
    width: 80%;
    height: 140%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* Section 3 */

.section3 {
    background: rgb(223, 236, 255);
    padding: 3rem 0rem;
    margin: 3rem 0;
}

.extra {
    text-align: center;
    font-weight: bolder;
    margin-top: 3rem;
}

.box-cover {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 2rem 0;
}

.col-5 {
    width: 29%;
    border: 0.2rem dashed red;
    padding: 0rem 1rem;
    padding-top: 3rem;
}

.title-box {
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 0.5rem;
}

.paragraph3 {
    font-size: 1.25rem;
    color: rgb(115, 115, 123);
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.number-1 {
    position: absolute;
    font-size: 3rem;
    width: 3rem;
    text-align: center;
    font-weight: bolder;
    color: red;
    top: 0;
    left: 10;
    background: rgb(223, 236, 255);
}

.extra-2 {
    top: 0;
    left: 423;
}

.extra-3 {
    top: 0;
    left: 834;
}

/* Section 4 */

.circle {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
}

.circle-2 {
    background: white;
    border: 0.2rem dashed red;
    color: red;
}

.part-1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    width: 100%;
}

.schedule {
    width: 15rem;
    height: 10rem;
}

.part-1-1 {
    width: 60%;
}

.last-box {
    position: relative;
    padding-bottom: 2rem;
}

.button-3 {
    width: 13rem;
    height: 3rem;
    background: rgb(249, 35, 77);
    font-family: 'Nunito', sans-serif;
    color: white;
    border: none;
    border-radius: 0.25rem;
    position: absolute;
    bottom: 0;
    right: 610;
}


.section4 {
    margin-bottom: 4rem;
}

/* Section 5*/

.box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 14rem;
    justify-content: space-evenly;
    width: 30%;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

i {
    font-size: 3rem;
}
.flex-icon{
    display:flex;
    justify-content:space-between;
}
.section5-bold {
    font-weight: bolder;
    font-size: 2rem;
}

.box-2 {
    background: rgb(249, 35, 77);
    color: white;
    border-radius: 1rem;
}

/* Section 6 */

.section6 {
    border-radius: 1rem;
}


/* Section 7 */


.section7 {
    padding-bottom: 10rem;
    padding-top: 3rem;
    margin-top: 4rem;
    background: rgb(223, 236, 255);
}

.image-section8 {
    width: 100%;
}

.title-sec8 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 1rem;
}

.paragraph3 {
    font-size: 1.25rem;
    color: rgb(115, 115, 123);
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.anchor {
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: bold;
    color: rgb(1, 18, 45);
}

.box-4 {
    flex:0 1 30%;
    font-family: 'Nunito', sans-serif;
}

/* Footer */

.footer {
    background: rgb(35, 52, 123);
    width: 100%;
    height: 25%;
}

.flex-footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.footer-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

.foot-1 {
    width: 25%;
    justify-self: flex-start
}

.foot-2 {
    display: flex;
    flex-direction: column;
    width:40%;
    justify-self: flex-start;
    height: 4rem;
}

.foot-3 {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-self: flex-start;
    height: 4rem;
}

.foot-3 i {
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    color: rgb(188, 192, 210);
    font-size: 1.5rem;
}

.li-footer {
    margin-right: 1.5rem;
    font-family: 'Nunito', sans-serif;
    color: rgb(188, 192, 210);
}

.li-footer li {
    margin-right: 1.5rem;
    margin-top: 2rem;
    font-size: 1.25rem;
}

.footer-end {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background: rgb(16, 33, 105);
    color: rgb(137, 142, 165);
    font-size: 1.25rem;
    font-family: 'Nunito', sans-serif;
}

@media screen and (max-width:768px) {

    .header{
        justify-content:space-between;
    }

    .title-1 {
        margin: 1.5rem 0;
        position:fixed;
        left:0;
        z-index:9;
    }

    .nav ul{
        display:none;
    }

    .nav{
        justify-content:center;
    }
    .button-1{
        display:none;
    }

    .label{
        display:inline-block;
        color:white;
        font-size:2rem;
        position:fixed;
        right:0;
        z-index:9;

    }

    #toggle{
        display:none;
        color:white;
        font-size:2rem;
    }

    #toggle:checked ~ .nav ul{
        visibility:visible;
        color:white;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        position:fixed;
        z-index:2;
        top:0;
        right:0;
        left:0;
        bottom:0;
        width:100%;
        height:100vh;
        background:rgb(44, 75, 143);
        font-size:2rem;
    }

    li{
        margin-top:2rem;
    }
    .col-1{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .col-2{
        flex:1 1 100%;
        justify-content:center;
        margin-top:2rem;
    }

    .section2{
        margin-top:3rem;
    }

    .image-2{
        width:80%;
    }

    .col-4{
        margin-top:2rem;
        align-items:center;
    }

    .box-cover{
        flex-wrap:wrap;
        justify-content:flex-start
    }

    .extra-2{
        left:260;
    }
    .extra-3{
        left:510;
    }

    .button-3{
        right:300;
    }

    .flex{
        display:inline-block;
    }

    .flex-icon{
        flex-wrap:wrap;
        justify-content:center;
    }

    .box-4{
        flex:1 1 100%;
        margin:3rem 2rem;
    }

    .footer{
        height:50%;
    }
    .flex-footer{
        flex-direction:column;
        align-items:center;
    }

    .foot-1{
        width:50%;
    }

    .foot-2{
        width:50%;
    }
    .foot-3{
        width:50%;
    }

    .paragraph{
        padding:0 1rem;
    }

    .section1 {
        display: inline-block;
    }

     .col-3, .col-4,.col-5 {
        text-align:center;
    }
    .col4{
        margin-top:2rem;
    }
    
    part-1{
        display:inline-block;
    }
}